.imgSlider {
    margin-top: 20px;
}

.slick-arrow {
    opacity: 0;
    height: 100%;
    width: 5vw;
    z-index: 1;
}

button:hover {
    opacity: 1;
    transition: opacity 0.2s ease 0s;
}

/* .slick-dots > ul, li, button:before {
    color: yellow;
} */

/* .slick-dots li button:before {
    color: green;
} */

.slick-dots li.slick-active button:before {
    color: rgb(150, 158, 171) !important;
    font-size: 10px;
  }

  .slick-dots li button:before {
    color: white !important;
  }

  .slick-list {
    overflow: initial !important;
  }

  .slick-prev {
    left: -40px !important;
  }

  /* FIX THIS PREV AND NEXT  */
  .slick-next {
    right: -40px !important;

  }

  .slideItem {
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }

  .sliderItem > a {
    border-radius: 4px;
    box-shadow: rgb(0, 0, 0 / 69%)0 26px 30px --10px, rgb(0, 0, 0 / 73%) 0px 16px 10px -10px;
    cursor: pointer;
    display: block;
    position: relative;
    padding: 4px;
  }

  .sliderImg {
    width: 100%;
    height: 100%;
  }

  .sliderImg:hover {
    padding: 0;
    border: 4px solid rgba(249, 249, 249, 0.8);
    transition-duration: 300ms;
  }
